/*******************************************************************************************	
■ 페이지명	: addForm.css
■ 작성목적	: addForm 컴포넌트 css
■ 기타참고	: X

■ 주요변경내역    
VER			DATE		AUTHOR			DESCRIPTION
----------  ----------	---------------	------------------------------- 
0.01		2024-02-28	ys_choi		    1.신규생성
0.02		2024-02-29	ys_choi		    1.div 및 버튼 스타일 추가
*******************************************************************************************/

#addForm_wrap{
    margin-top: 50px;
}

#addForm_wrap Button {
    margin-top: 10px;
    height: 56px;
    width: 220px;
    font-size: 30px;
    background-color: #3C53B1;
}