/*******************************************************************************************	
■ 페이지명	: contactsList.css
■ 작성목적	: 전화번호 리스트 컴포넌트 CSS
■ 기타참고	: X

■ 주요변경내역    
VER			DATE		AUTHOR			DESCRIPTION
----------  ----------	---------------	------------------------------- 
0.01		2024-03-04	ys_choi		    1.신규생성.
*******************************************************************************************/

#contactsListWrap{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

#buttonsWrapper {
    display: flex;
    justify-content: space-between;
}

#buttonsWrapper > div {
    display: flex;
}

#addBtn{
    background-color: #34DCA1;
    border-radius: 0px;
}

#cancelBtn {
    background-color: #E8E8E8;
    border-radius: 0px;
    color: #777777;
}

#deleteBtn {
    background-color: #34DCA1;
    margin-right: 10px;
    border-radius: 0px;
}

#editBtn {
    background-color: #ED5D54;
    color: white;
    border: 0px;
    border-radius: 3px;
}

.table {
    border: 1px solid #E0E0E0;
    width: 100px; /* 테이블의 너비를 100%로 설정합니다. */
    height: 300px; /* 테이블의 높이를 300px로 설정합니다. */
    overflow: auto; /* 테이블 내용이 넘칠 경우 스크롤을 표시합니다. */
}

.tableHead {
    background-color: #FAFAFA;
}

.tableRowWhite {
    background-color: white;
}

.tableRow {
    background-color: #FAFAFA;
}

/* contactsList.css 파일에 추가 */
.tableHeadCell {
    border: 1px solid #E0E0E0; /* 테이블 헤드 셀에 구분선 추가 */
}

.tableCell {
    border: 1px solid #E0E0E0; /* 테이블 헤드 셀에 구분선 추가 */
}

#contactsListWrap Dialog DialogActions button {
    background-color: aqua;
}

#phoneNumberField {
    width: 200px;
}

#nameField {
    width: 200px;
}

#group-select {
    width: 182px;
    background-color: #F3F3F3;
}

#directInput {
    color: #B0AEFA;
    cursor: 'pointer';
    margin-left: 150px;
}

#dropdownInput{
    color: #B0AEFA;
    cursor: 'pointer';
    margin-left: 180px;
}


