/*******************************************************************************************	
■ 페이지명	: contactsList.css
■ 작성목적	: 전화번호 리스트 컴포넌트 CSS
■ 기타참고	: X

■ 주요변경내역    
VER			DATE		AUTHOR			DESCRIPTION
----------  ----------	---------------	------------------------------- 
0.01		2024-03-04	ys_choi		    1.신규생성.
*******************************************************************************************/

#contactsListWrap {
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

#buttonsWrapper {
    display: flex;
    justify-content: space-between;
}

#buttonsWrapper > div {
    display: flex;
}

#addBtn {
    background-color: #34dca1;
    border-radius: 0px;
}

#cancelBtn {
    background-color: #e8e8e8;
    border-radius: 0px;
    color: #777777;
}

#deleteBtn {
    background-color: #34dca1;
    margin-right: 10px;
    border-radius: 0px;
}

#editBtn,
#saveBtn {
    background-color: #ed5d54;
    color: white;
    border: 0px;
    border-radius: 3px;
}

#updateCancelBtn {
    background-color: #777777;
    color: #e8e8e8;
    border: 0px;
    border-radius: 3px;
}

.table {
    border: 1px solid #e0e0e0;
    width: 100px;
    overflow: auto;
}

.tableHead {
    background-color: #fafafa;
    height: 50px;
}

.tableRowWhite {
    background-color: white;
    height: 50px;
}

.tableRow {
    background-color: #fafafa;
    height: 50px;
}

.tableHeadCell {
    border: 1px solid #e0e0e0;
}

.tableCell {
    border: 1px solid #e0e0e0;
}

#contactsListWrap Dialog DialogActions button {
    background-color: aqua;
}

#phoneNumberField {
    width: 200px;
}

#nameField {
    width: 200px;
}

#group-select {
    width: 182px;
    background-color: #f3f3f3;
}

#directInput {
    color: #b0aefa;
    cursor: "pointer";
    margin-left: 150px;
}

#dropdownInput {
    color: #b0aefa;
    cursor: "pointer";
    margin-left: 180px;
}
