/*******************************************************************************************	
■ 페이지명	: phoneBook.css
■ 작성목적	: phoneBook 컴포넌트 CSS
■ 기타참고	: X

■ 주요변경내역    
VER			DATE		AUTHOR			DESCRIPTION
----------  ----------	---------------	------------------------------- 
0.01		2024-03-04	ys_choi		    1.신규생성.
*******************************************************************************************/

#wrap {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: White;
    width: 1000px;
}
