#pagingBarWrap {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#pagingBarWrap select {
    margin-right: 15px;
}

#pagingBarWrap Button {
    color: #34dca1;
    padding: 0px;
}

#rowsPerPage {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 120px;
}
