/*******************************************************************************************	
■ 페이지명	: pagingBar.css
■ 작성목적	: pagingBar 컴포넌트 CSS
■ 기타참고	: X

■ 주요변경내역    
VER			DATE		AUTHOR			DESCRIPTION
----------  ----------	---------------	------------------------------- 
0.01		2024-03-04	ys_choi		    1.신규생성.
*******************************************************************************************/

#pagingBarWrap{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#pagingBarWrap select{
    margin-right: 15px;
}

#pagingBarWrap Button{
    color: #34DCA1;
    padding: 0px;
}