.App {
  text-align: center;
  display: flex; /* 부모 요소를 플렉스 박스로 설정 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  height: 100vh; /* 화면 전체 높이로 설정 */
  background-color: #D7ECFF;
}